.technologies {
    display: grid;
}

.technologies h1 {
    grid-column: span 3;
}

.grid1 {
    grid-column: span 1;
    height: 120px;
    border: 2px solid $accent-color;
}

.grid2 {
    grid-column: span 2;
    height: 120px;
    border: 2px solid $accent-color;
}

.grid3 {
    grid-column: span 3;
    height: 120px;
    border: 2px solid $accent-color;
}

.img-grid1 {
    grid-column: span 1;
    display:block;
    margin:auto;
}

.img-grid3 {
    grid-column: span 3;
    text-align: center;
}

@media screen and (max-width: 480px) {
    .technologies h1 {
        grid-column: span 1;
    }

    .grid1 {
        grid-column: span 1;
    }

    .grid2 {
        grid-column: span 1;
    }

    .grid3 {
        grid-column: span 1;
    }

    .img-grid3 {
        grid-column: span 1;
    }
}
