$font-color: #000;
$font-alternative-color: rgb(255, 245, 245);
$accent-color: #ee6c4d;
$background-color: #f5fff5;
$background-alternative-color: #e0fbfc;
$font-header: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;
