$font-color: #000;
$font-alternative-color: #fff;
$accent-color: #ee6c4d;
$background-color: #6ada66;
$background-alternative-color: #e0fbfc;
$font-header: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;
