$font-color: rgb(0, 0, 0);
$font-alternative-color: rgb(255, 255, 255);
$accent-color: #414141;
$background-color: #f5fff5;
$background-alternative-color: #000;
$font-header: 'Open Sans', sans-serif;
$font-text: 'Roboto', sans-serif;
